<h1>All Contacts</h1>
<ul>
	<%Contact.all.each do |contact| %>
	<li><%= contact.first_name %> <%= contact.last_name %> <%= contact.email %> <%= contact.notes %>    
	<a href="/contacts/<%= contact.id %>/edit"> Edit </a>
	<a href="/contacts/<%= contact.id %>/delete"> Delete </a>
	</li>

<% end %>
</ul>